# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build outputs (but not lib/ which has prebuilt deps)
x64/
Cypress/
**/x86/
**/Win32/

# C++ intermediates
*.obj
*.pch
*.pdb
*.ilk
*.iobj
*.ipdb
*.log
*.tlog
*.lastbuildstate
*.idb
*.exp
*.dll
*.exe
ipch/

# VS caches
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Rider
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Kate
*.kate-swp

[Bb]uild/
__cmake_systeminformation
.ninja_deps
.ninja_lock
.ninja_log
build.ninja
CMakeCache.txt
Makefile
CMakeFiles/
my_msvc/
msvc-wine/
_deps/
cmake_install.cmake

cypress_GW1.lib
cypress_GW2.lib
cypress_BFN.lib
